/*.log
/*.trs
/test-arena
/test-buffer
/test-coap
/test-fbp
/test-fbp-scanner
/test-flow
/test-flow-builder
/test-flow-parser
/test-io
/test-io-composite
/test-io-converter
/test-io-link
/test-io-monitor
/test-json
/test-mainloop
/test-mainloop-linux
/test-monitors
/test-parser
/test-scanner
/test-str-slice
/test-str-split
/test-str-table
/test-util
/test-vector
/test-mainloop-threads
/test-mainloop-threads-sol-run
