config TEST_ARENA
	bool "arena"
	default y

config TEST_BUFFER
	bool "buffer"
	default y

config TEST_COAP
	bool "coap"
	depends on COAP
	default y

config TEST_FBP
	bool "fbp"
	default y

config TEST_FBP_SCANNER
	bool "fbp scanner"
	default y

config TEST_FLOW
	bool "flow"
	default y

config TEST_FLOW_BUILDER
	bool "flow builder"
	default y

config TEST_FLOW_PARSER
	bool "flow parser"
	default y

config TEST_MAINLOOP
	bool "mainloop"
	default y

config TEST_MAINLOOP_LINUX
	bool "mainloop linux"
	depends on SOL_PLATFORM_LINUX
	default y

config TEST_MAINLOOP_THREADS
	bool "mainloop threads"
	depends on PTHREAD && MAINLOOP_POSIX
	default y

config TEST_MAINLOOP_THREADS_SOL_RUN
	bool "mainloop threads sol run"
	depends on PTHREAD && MAINLOOP_POSIX
	default y

config TEST_MONITORS
	bool "monitors"
	default y

config TEST_STR_SLICE
	bool "str-slice"
	default y

config TEST_STR_SPLIT
	bool "str-split"
	default y

config TEST_STR_TABLE
	bool "str-table"
	default y

config TEST_VECTOR
	bool "vector"
	default y

config TEST_JSON
	bool "json"
	default y
