config FLOW_NODE_TYPE_NETCTL
	tristate "Node type: netctl"
	depends on NETCTL
	default m
	help
		Network control is used to control the system network status. On Linux it will communicate with ConnMan via DBus
