[submodule "src/thirdparty/duktape"]
	path = src/thirdparty/duktape
	url = https://github.com/solettaproject/duktape-release.git
	ignore = dirty
	branch = master
[submodule "src/thirdparty/tinycbor"]
	path = src/thirdparty/tinycbor
	url = https://github.com/01org/tinycbor/
	ignore = dirty
	branch = master
[submodule "src/thirdparty/tinydtls"]
	path = src/thirdparty/tinydtls
	url = git://git.code.sf.net/p/tinydtls/code
	ignore = dirty
	branch = master
[submodule "src/thirdparty/mavlink"]
	path = src/thirdparty/mavlink
	url = https://github.com/mavlink/c_library.git
	ignore = dirty
	branch = master
[submodule "src/thirdparty/oic-data-models"]
	path = src/thirdparty/oic-data-models
	url = https://github.com/OpenInterConnect/IoTDataModels
	ignore = dirty
	branch = master
