[submodule "src/thirdparty/duktape"]
	path = src/thirdparty/duktape
	url = https://github.com/solettaproject/duktape-release.git
[submodule "src/thirdparty/tinycbor"]
	path = src/thirdparty/tinycbor
	url = https://github.com/01org/tinycbor/
[submodule "src/thirdparty/tinydtls"]
	path = src/thirdparty/tinydtls
	url = git://git.code.sf.net/p/tinydtls/code
