/soletta-*.tar.gz
/soletta-*/
/test-suite*.log
*~
*.la
*.lo
*.o
*.so
*.a
*.pc
*.aux
*.pdf
*.tex
*.gcda
*.gcno
/coverage
*.uncrustify
.config*
Makefile.gen
Kconfig.gen
/build/
/include/
config.log*
aio.js
gpio.js
pwm.js
spi.js
uart.js
i2c.js
memmap-test.bin
memmap-test2.bin
