/soletta-*.tar.gz
/soletta-*/
/test-suite*.log
*~
*.la
*.lo
*.o
*.so
*.a
*.pc
*.aux
*.pdf
*.tex
*.gcda
*.gcno
/coverage
*.uncrustify
.config*
Makefile.gen
Kconfig.gen
/build/
/include/
config.log*
/node_modules/
/bindings/nodejs/generated/main.cc
/bindings/nodejs/generated/main.h
aio.js
bindings/nodejs/generated/header-files-list
bindings/nodejs/generated/nodejs-bindings-sources.gyp
gpio.js
pwm.js
spi.js
uart.js
