/soletta-*.tar.gz
/soletta-*/
/test-suite.log
/test-suite-drd.log
/test-suite-helgrind.log
/test-suite-memcheck.log
/test-suite-sgcheck.log
*~
*.la
*.lo
*.o
*.so
*.a
*.pc
*.aux
*.pdf
*.tex
*.gcda
*.gcno
/coverage
/svg
.config*
Makefile.gen
Kconfig.gen
/build/
/include/
