config FLOW
	bool "Flow support"
	default y

config JAVASCRIPT
	bool "Javascript support"
	depends on FLOW
	default y

config NODE_DESCRIPTION
	bool "Node description support"
	depends on FLOW
	default y
	help
            Add node description support to enable runtime introspection.

            If unsure, say Y.

config RESOLVER_CONFFILE
	bool "Resolver conffile"
	depends on NODE_DESCRIPTION
	default y

config INSPECTOR
	bool "Inspector"
	depends on FLOW
	default y

menu "Node Types"
	depends on FLOW
source "src/modules/flow/accelerometer/Kconfig"
source "src/modules/flow/aio/Kconfig"
source "src/modules/flow/app/Kconfig"
source "src/modules/flow/boolean/Kconfig"
source "src/modules/flow/byte/Kconfig"
source "src/modules/flow/calamari/Kconfig"
source "src/modules/flow/color/Kconfig"
source "src/modules/flow/compass/Kconfig"
source "src/modules/flow/console/Kconfig"
source "src/modules/flow/constant/Kconfig"
source "src/modules/flow/converter/Kconfig"
source "src/modules/flow/evdev/Kconfig"
source "src/modules/flow/file/Kconfig"
source "src/modules/flow/filter-repeated/Kconfig"
source "src/modules/flow/float/Kconfig"
source "src/modules/flow/fs/Kconfig"
source "src/modules/flow/gpio/Kconfig"
source "src/modules/flow/grove/Kconfig"
source "src/modules/flow/gtk/Kconfig"
source "src/modules/flow/gyroscope/Kconfig"
source "src/modules/flow/hub/Kconfig"
source "src/modules/flow/int/Kconfig"
source "src/modules/flow/keyboard/Kconfig"
source "src/modules/flow/led-strip/Kconfig"
source "src/modules/flow/magnetometer/Kconfig"
source "src/modules/flow/network/Kconfig"
source "src/modules/flow/oic/Kconfig"
source "src/modules/flow/piezo-speaker/Kconfig"
source "src/modules/flow/platform/Kconfig"
source "src/modules/flow/process/Kconfig"
source "src/modules/flow/pwm/Kconfig"
source "src/modules/flow/random/Kconfig"
source "src/modules/flow/servo-motor/Kconfig"
source "src/modules/flow/string/Kconfig"
source "src/modules/flow/test/Kconfig"
source "src/modules/flow/thingspeak/Kconfig"
source "src/modules/flow/timer/Kconfig"
source "src/modules/flow/trigonometry/Kconfig"
source "src/modules/flow/udev/Kconfig"
source "src/modules/flow/unix-socket/Kconfig"
source "src/modules/flow/wallclock/Kconfig"
endmenu
