config LINUX_MICRO_EFI_UPDATE
    tristate "Soletta Linux Micro EFI Update"
    depends on USE_UPDATE && PLATFORM_LINUX_MICRO && HTTP_CLIENT && CRYPTO_MESSAGE_DIGEST
    default m if MODULES=y
    help
        Allows Soletta auto update when it is running as static PID 1 (Linux
        Micro) on EFI systems. To completely use this module to update Soletta,
        it's necessary that device boots via EFI script startup.nsh.
        This script should also check the existence of an 'updating' file
        on boot partition (usually 'fs0:'), that update module will write there
        to indicate that an update happened. It's up to this script to decide
        if update was successful or not. If not, it shall start old Soletta app,
        usually '/usr/bin/soletta_old'.
        An example of such script is provided on samples/flow/update/startup.nsh.

config LINUX_MICRO_EFI_UPDATE_CHECK_URL
    string "Linux Micro EFI Update Check URL"
    depends on LINUX_MICRO_EFI_UPDATE
    default "http://localhost/update-check"
    help
        URL to check update information. It must return a JSON containing the
        fields "version" and "size", like:
        {
            "version": "0.1.2",
            "size": 369874
        }
        Where size is in bytes.

config LINUX_MICRO_EFI_UPDATE_META_URL
    string "Linux Micro EFI Update Check URL"
    depends on LINUX_MICRO_EFI_UPDATE
    default "http://localhost/update-meta"
    help
        URL to get more update information. It must return a JSON containing the
        fields "hash", "hash-algorithm" and "size", like:
        {
            "hash": "402c09cded5f597c94f90d1b77c04422628678f69f6f56786053c8c59450c1da"
            "hash-algorithm": sha256,
            "size": 369874
        }

config LINUX_MICRO_EFI_UPDATE_FETCH_URL
    string "Linux Micro EFI Update Fetch URL"
    depends on LINUX_MICRO_EFI_UPDATE
    default "http://localhost:8000/update-file"
    help
        URL to fetch update file.
