config FLOW_METATYPE_HTTP_COMPOSED_SERVER
	tristate "HTTP server flow metatype"
	depends on USE_FLOW && HTTP_SERVER
	default m if MODULES=y
	help
	    Allow creating HTTP server node types using composed packets.
