config FLOW_NODE_TYPE_FORM
	tristate "Node type: form"
	default m
	help
		It is common to have IoT products with LCD display and
		buttons (arrows) and the need to ask for user input.
		This is a collection of high-level node types to deal
		with that, the *form* nodes.

		These node types format a multi-line string to be
		used by other node types doing visual output, such as
		LCD display (grove/lcd-string), in conjuntion with others
		providing input.

config PYTHON_FORMATTING
	bool "Build Python-like string formatting (string-formatted) nodes"
	depends on FLOW_NODE_TYPE_CONVERTER
	default y
	help
		Consider changing this if this functionality won't be used
		and the final Soletta binary is meant for constrained
		systems. Note that the string-formatted node is made useless
		if this is not set (any interaction with these nodes will
		lead to error packets).