config FLOW_METATYPE_HTTP_COMPOSED_CLIENT
	tristate "HTTP client flow metatype"
	depends on USE_FLOW && HTTP_CLIENT
	default m if MODULES=y
	help
	    Allow creating HTTP's client node types using composed packets.
