menuconfig USE_UPDATE
    bool "Update Options"
    default y
    help
        Allow Soletta built apps to be updated automatically.

        Soletta can check if there is an update available and update itself.
        Different update modules are provided for different Soletta
        app scenarios.

source "src/modules/update/linux-micro-efi/Kconfig"
