config CORE
	bool
	default y

config SOL_PLATFORM_LINUX
	bool
	default n

choice
	prompt "Target platform"
	default PLATFORM_DUMMY
	help
	  The platform of your target.

config PLATFORM_DUMMY
	bool "dummy"
	select SOL_PLATFORM_LINUX

config PLATFORM_LINUX_MICRO
	select SOL_PLATFORM_LINUX
	bool "micro-linux"

config PLATFORM_RIOTOS
	bool "riotos"

config PLATFORM_SYSTEMD
	bool "systemd"
	depends on HAVE_SYSTEMD
	select SOL_PLATFORM_LINUX
	select SOL_BUS
endchoice

choice
	prompt "Mainloop"
	help
	  The mainloop implementation.

config MAINLOOP_GLIB
	bool "glib"
	depends on SOL_PLATFORM_LINUX && HAVE_GLIB

config MAINLOOP_POSIX
	bool "posix"
	depends on SOL_PLATFORM_LINUX

config MAINLOOP_RIOTOS
	bool "riotos"
	depends on PLATFORM_RIOTOS && HAVE_RIOTOS

endchoice

config PTHREAD
        bool "Pthread"
        depends on HAVE_PTHREAD_H && SOL_PLATFORM_LINUX
        default y

config LOG
	bool "Log"
	default y

choice
	prompt "Maximum log level"
	default DEFAULT_LOG_LEVEL_ERROR
	depends on LOG
	help
	  Default log level.

config DEFAULT_LOG_LEVEL_CRITICAL
	bool "critical"

config DEFAULT_LOG_LEVEL_ERROR
	bool "error"

config DEFAULT_LOG_LEVEL_WARNING
	bool "warning"

config DEFAULT_LOG_LEVEL_INFO
	bool "info"

config DEFAULT_LOG_LEVEL_DEBUG
	bool "debug"
endchoice

config SOL_BUS
	bool "Sol-bus"
	depends on SOL_PLATFORM_LINUX && HAVE_SYSTEMD && HAVE_SD_BUS
	default n

menu "Hardware support"
config HARDWARE_PWM
	bool "pwm"
	help
          Globaly enables pwm hardware support.
	default y
endmenu


config SOCKET_LINUX
	bool "Linux sockets"
	depends on SOL_PLATFORM_LINUX
	default y

menuconfig HAVE_PIN_MUX
        bool "Pin Multiplexer"
        default n
        help
          Pin Multiplexer is a feature that helps to setup
          physical pins shared by more than one feature in
          some platforms.

          If unsure, say N.

source "src/modules/pin-mux/intel-galileo-rev-g/Kconfig"
